.adopt a {
  font-size: 18px;
  text-decoration: underline;
}

.adopt h1 {
  text-align: center;
}

.adopt .form-column {
  display: flex;
  justify-content: center;
}

.adopt .button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}