.adoption-rules {
  margin-bottom: 100px;
}

.adoption-rules h2 {
  text-align: center;
  margin-bottom: 30px;
}

.adoption-rules h3 {
  margin: 0;
  margin-bottom: 10px;
}

.adoption-rules .second-row {
  margin-top: 260px;
}

.adoption-rules .requirements-wrapper {
  background-color: #EFF3F1;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
}

.adoption-rules .requirements-wrapper .requirement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.adoption-rules .requirements-wrapper .requirement .icon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}

.adoption-rules .requirements-wrapper .requirement p {
  margin-top: 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .adoption-rules .requirements-wrapper {
    padding: 30px 20px 10px 20px;
    margin-bottom: 20px;
  }
}