/* Bunnies */

.bunnies .header {
  justify-content: center;
}

.bunnies .header.no-description {
  margin-bottom: 60px;
}

.bunnies .header h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.bunnies .header p {
  text-align: center;
  max-width: 750px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.bunnies .card h3 {
  margin-bottom: 0;
  margin-top: 12px;
}

.bunnies .card p {
  margin-top: 0;
  margin-bottom: 10px;
}

.bunnies .animal-wrapper {
  margin-bottom: 30px;
}

.bunnies img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
}

.bunnies .image-container {
  position: relative;
  width: 100%;
}

.bunnies .image-container .button {
  position: absolute;
  bottom: 16px;
  left: 16px;
}